{% load static %}
<html>
    <head>
        <title>animal vision</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main_style.scss' %}">
    </head>
    <body style="width: 100%; height: 100%; margin: 0; ">
        <div class="main" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
            <div class="rainbow"></div>
            <div class="rainbow_desaturated"></div>
            <div>
                sources
            </div>
            <div>
                <ul>
                    <li>
                        <a href="https://www.aspca.org/helping-people-pets/shelter-intake-and-surrender/pet-statistics">cats</a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Whale#Senses">whales</a>
                    </li>
                    <li>
                        <a href="https://www.worldwildlife.org/species/whale">whales</a>
                    </li>
                    <li>
                        <a href="https://ocean.si.edu/ocean-life/marine-mammals/whales">whales</a>
                    </li>
                    <li>
                        <a href="https://www.nhm.ac.uk/discover/social-lives-of-whales.html">whales</a>
                    </li>
                    <li>
                        <a href="https://www.theatlantic.com/technology/archive/2013/03/youre-eye-to-eye-with-a-whale-in-the-ocean-what-does-it-see/274448/">whales</a>
                    </li>
                    <li>
                        <a href="https://www.publish.csiro.au/ebook/chapter/9781486301614_Chapter4#:~:text=Of%20the%20five%20senses%20cattle,how%20cows%20assess%20their%20environment.&text=As%20a%20prey%20species%2C%20cattle,smells%2C%20sudden%20movements%20and%20noises">cows</a>
                    </li>
                    <li>
                        <a href="https://pubmed.ncbi.nlm.nih.gov/11352156/">cows</a>
                    </li>
                    <li>
                        <a href="https://www.statista.com/statistics/263979/global-cattle-population-since-1990/">cows</a>
                    </li>
                    <li>
                        <a href="https://www.business-standard.com/article/news-ani/75-of-pet-reptiles-die-within-a-year-study-117102700161_1.html">snakes</a>
                    </li>
                    <li>
                        <a href="https://www.torontozoo.com/adoptapond/rattlesnake_cur/unit1.pdf">snakes</a>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Rattlesnake#cite_note-Rubio-120-20">snakes</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </body>
</html>