{% load static %}
<html>
    <head>
        <title>animal vision</title>
        <link rel="stylesheet" type="text/css" href="{% static 'landing_style.scss' %}">
    </head>
    <body style="width: 100%; height: 100vh; margin: 0;">
        <div class="main" style="display: flex; flex-direction: column; align-items: center; width: 100%;">
            <div class="rainbow"></div>
            <div class="rainbow_desaturated"></div>
            <div class="heading" style="font-weight: 700; text-align: center;">
                through 
                <br />
                other eyes
            </div>
            <p style="font-weight: 500;">
                Ever wondered what it would be like to see the way non-humans can? Gain insight on what others' worlds look like now.
            </p>
            <div class="button">
                <a href="/main" style="color: black; font-weight: 600;">begin here</a>
            </div>
        </div>
    </body>
</html>